In [14]:
import pandas as pd

df = pd.read_csv('상의데이터.csv')

def rank_to_score(rank):
    max_rank = 1
    min_rank = 4500
    score = (max_rank - rank) / (max_rank - min_rank)
    return score

df['순위'] = df['순위'].apply(rank_to_score)
list_rank = list(df['순위'])
reversed_rank = list_rank[::-1]
df['순위'] = reversed_rank

df.drop(['Unnamed: 0','url'], axis=1, inplace=True)
df

,순위,상품명,브랜드명,평점,조회수_수정,좋아요 _수정,구매후기 개수_수정,누적판매량_수정
0,1.000000,(시티보이) 오버핏 옥스포드 셔츠_SPYWD23C01,스파오,4.9,224000.0,46073,17548,50000.0
1,0.999778,[23SS Ver.][PACKAGE] 시티보이 빅오버 워싱 데님 셔츠_4 Color,라퍼지스토어,4.7,15000.0,884,3,100.0
2,0.999555,[MUSINSA EXCLUSIVE] 뉴욕 복싱 클럽 코튼 치노 셔츠 - 블랙,폴로 랄프 로렌,0.0,15000.0,314,0,100.0
3,0.999333,베이식 긴팔 티셔츠 2팩,무신사 스탠다드,4.9,141000.0,57235,31434,120000.0
4,0.999111,레이어드 크루 넥 반팔 티셔츠_일반 기장 2팩,무신사 스탠다드,4.9,87000.0,18637,14555,50000.0
...,...,...,...,...,...,...,...,...
4495,0.000889,벌룬핏 크루넥 니트 BLACK,인사일런스,4.9,2200.0,351,46,100.0
4496,0.000667,Narbe Half Shirt - Blue Grey,오프닝프로젝트,0.0,1400.0,173,0,0.0
4497,0.000445,PHYPS® MONDAY ROUTINE STITCH HOODIE BERRY PINK,피지컬 에듀케이션 디파트먼트,4.5,6200.0,924,24,100.0
4498,0.000222,차콜그레이 벌룬핏 피그먼트 다잉 후드 티셔츠 IETS3E201CG,일꼬르소,5.0,4400.0,802,61,200.0
4499,-0.000000,캡 슬리브 워머 셔츠 / 블랙,오호스,0.0,200.0,74,0,0.0

In [16]:
df.columns = ['순위','상품명','브랜드명','평점','조회수','좋아요 수','구매후기 수','누적판매량']
df

,순위,상품명,브랜드명,평점,조회수,좋아요 수,구매후기 수,누적판매량
0,1.000000,(시티보이) 오버핏 옥스포드 셔츠_SPYWD23C01,스파오,4.9,224000.0,46073,17548,50000.0
1,0.999778,[23SS Ver.][PACKAGE] 시티보이 빅오버 워싱 데님 셔츠_4 Color,라퍼지스토어,4.7,15000.0,884,3,100.0
2,0.999555,[MUSINSA EXCLUSIVE] 뉴욕 복싱 클럽 코튼 치노 셔츠 - 블랙,폴로 랄프 로렌,0.0,15000.0,314,0,100.0
3,0.999333,베이식 긴팔 티셔츠 2팩,무신사 스탠다드,4.9,141000.0,57235,31434,120000.0
4,0.999111,레이어드 크루 넥 반팔 티셔츠_일반 기장 2팩,무신사 스탠다드,4.9,87000.0,18637,14555,50000.0
...,...,...,...,...,...,...,...,...
4495,0.000889,벌룬핏 크루넥 니트 BLACK,인사일런스,4.9,2200.0,351,46,100.0
4496,0.000667,Narbe Half Shirt - Blue Grey,오프닝프로젝트,0.0,1400.0,173,0,0.0
4497,0.000445,PHYPS® MONDAY ROUTINE STITCH HOODIE BERRY PINK,피지컬 에듀케이션 디파트먼트,4.5,6200.0,924,24,100.0
4498,0.000222,차콜그레이 벌룬핏 피그먼트 다잉 후드 티셔츠 IETS3E201CG,일꼬르소,5.0,4400.0,802,61,200.0
4499,-0.000000,캡 슬리브 워머 셔츠 / 블랙,오호스,0.0,200.0,74,0,0.0

In [17]:
X = df[['평점', '조회수', '누적판매량', '구매후기 수','좋아요 수']]
y = df['순위']

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

lr = LinearRegression()
lr.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error, r2_score

y_pred = lr.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2=r2_score(y_test, y_pred)

print('MSE',mse)
print('R-squared', r2)

MSE 0.07914163023745659
R-squared 0.08270043376368441

In [8]:
df.describe()

,순위,평점,조회수,좋아요 수,구매후기 수,누적판매량
count,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000
mean,0.500000,4.172267,5672.755556,4177.676444,821.615778,1742.177778
std,0.288771,1.653303,12411.454423,9939.485287,3251.562779,7042.582743
min,-0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.250000,4.700000,700.000000,165.000000,4.000000,50.000000
50%,0.500000,4.800000,2100.000000,683.000000,36.000000,100.000000
75%,0.750000,4.900000,5700.000000,3074.750000,331.250000,900.000000
max,1.000000,5.000000,224000.000000,133142.000000,76871.000000,216000.000000

In [18]:
X = df[['평점', '조회수', '구매후기 수','좋아요 수']]
y = df['누적판매량']

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

lr = LinearRegression()
lr.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error, r2_score

y_pred=lr.predict(X_test)
mse=mean_squared_error(y_test, y_pred)
r2=r2_score(y_test, y_pred)

print('MSE',mse)
print('R-squared', r2)

MSE 6182800.327133722
R-squared 0.73182028276286